<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>My-DJ</title>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <!-- Include the external JavaScript file -->
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
    <script type="text/javascript">
        var globalConfig = {
            token: "{{ access_token }}"
        };
    </script>
    <script type="text/javascript">
        // Define global variables here
        window.trackQueue = []; // This will store track names globally
        window.messages = []; // This will store messages globally
    </script>
</head>

<body>
    <h1>My-DJ</h1>
    <p>Welcome to My-DJ, your personal music assistant. Enter a message to request songs, and let My-DJ queue and play
        them for you. Enjoy the tunes!</p>
    <div>
        <input type="text" id="userMessage" placeholder="Enter your message" />
        <button onclick="addMessageAndRequestQueueUpdate()">Submit Message</button>
    </div>
    <div id="queueAndPlayer" class="hidden">
        <div>
            <h2>Queue</h2>
            <ul id="trackQueue">
                <!-- Queue items will be added here -->
            </ul>
        </div>
        <div id="current-track">
            <img id="album-cover" src="" alt="Album cover" style="width: 100px; height: 100px;">
            <div>
                <button onclick="togglePlay();">Play/Pause</button>
                <button onclick="playNextTrackInQueue();">Next</button>
            </div>
            <div id="track-info">
                <p id="track-name">Loading...</p>
                <p id="artist-name"></p>
            </div>
        </div>
    </div>
    <a href="/logout">Logout</a>
</body>

</html>